body {
  background: radial-gradient(
    592px at 48.2% 50%,
    rgba(255, 255, 249, 0.6) 0%,
    rgb(160, 199, 254) 74.6%
  );
  background-image: url("weather.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.contanier {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 150px;
  max-width: 740px;
}

.App {
  max-width: 630px;
  margin: 0 auto;
}

.App footer {
  font-size: 14px;
  margin: 10px 0;
  text-decoration: none;
}
.App a {
  text-decoration: none;
}
