a {
  color: #1d69d6;
  text-decoration: none;
}

.Weather .weather-contanier {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  border-radius: 20px;
  font-family: "Fuzzy Bubbles", cursive;
  font-size: 18px;
  margin: 20px 0;
  max-width: 630px;
  padding: 20px 16px 24px;
  opacity: 0.9;
}

.Weather .contanier {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 150px;
  max-width: 740px;
}

.Weather .overview {
  margin-bottom: 20px;
}

#search-button {
  background-color: #589eb8;
  border-color: #589eb8;
}
#current-button {
  background-color: #edbd33;
  border-color: #edbd33;
}
#current-city {
  font-size: 34px;
  font-weight: bold;
}

.Weather .weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}

.Weather .weather-temperature strong {
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.Weather .weather-temperature .active {
  color: black;
  cursor: default;
}
.Weather .weather-temperature .units {
  position: relative;
  font-size: 24px;
  top: -4px;
}
